/.vscode
/Assignments
/jsconfig.json
/Project 4 -Bankist_Application
/Project 5 -Marketing_Bankist_Application
/Project 6 - Mapty
/Project_1_GuessTheNumber
/Project_2_Modal_Window
/Udemy_Javascript_Course